body{
    margin: 0px;
    font-family: 'Times New Roman';


}


header{
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.icono{
    display: flex;

}

.icono img{
    width: 80px;
    height: 80px;


}

a{
    color: white;
    text-decoration: none;
    



}

nav a{
    margin: 10px;
    font-weight: 600px;



}

nav a:hover{
    margin: 5px;
    transition: 1s;
    color: gold;



}

nav a:active{
    color: red;



}
